<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Index</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="me.shaikhrayeesahmed.springpetclinic.model.Owner"*/-->
<h2>Owners</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">ID</th>
        <th style="width: 150px">First Name</th>
        <th style="width: 150px">Last Name</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.getId()}"></td>
            <td th:text="${owner.getFirstName()}"></td>
            <td th:text="${owner.getLastName()}"></td>
        </tr>
    </tbody>
</table>


</body>
</html>