<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Vet Index</title>
</head>
<body>

<!--/*@thymesVar id="vet" type="me.shaikhrayeesahmed.springpetclinic.model.Vet"*/-->
<h2>Vets</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">ID</th>
        <th style="width: 150px">First Name</th>
        <th style="width: 150px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.getId()}"></td>
        <td th:text="${vet.getFirstName()}"></td>
        <td th:text="${vet.getLastName()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>